#waveform wave wave {
    visibility: hidden; 
}

.timeBarCanvas {
    cursor: pointer;
    border:1px solid #000000;
    position: absolute;
    top: 0;
}

.replayerButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.own_upload_button {
    cursor:pointer;
    border-radius: 25px;
    height: 50px;
    border: 2px solid #178fdf;
    background-color: #178fdf;
    color: white;
}

#sound-selector, #event-selector { visibility: hidden; }

#sliderBarSound {width: 40%; visibility: hidden;}

#soundBar:hover > #sliderBarSound { visibility: visible; }

.slider::-moz-range-thumb {cursor: pointer;}

.divButtonLeft {float: left;}

.divButtonRight {float: right;}

#controlBarLeft {float: left;}

#controlBarRight {float: right;}

#controlBarLeft, #controlBarRight { width: 50%;}