#rrweb-mainDivButton {
	position: absolute;
	width: 70px;
	height: 70px;
}

.rrweb-Buttons {
	border-radius: 50%;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 0%;
}

#rrweb-minimizeButton {
	height: 30px;
	width: 30px;
	left: -30px;
	background-color: #0e4388;
}

.rrweb-ChildButton {
	height: 70px;
	width: 70px;
	background-color: #fdd03b;
}

#rrweb-recordButton {
	height: 70px;
	width: 70px;
	background-color: #d92027;
	cursor: move;
}

#rrweb-downloadRecord {
	height: 70px;
	width: 70px;
	background-color: #fdd03b;
	position: absolute;
	cursor: pointer;
}

#rrweb-sliderDiv {
    z-index: 10;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#rrweb-sliderDiv input {
	bottom: 0px;
	width: 80%;
}

#rrweb-sliderBar {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#rrweb-sliderBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 15%;
  background: #4CAF50;
  cursor: pointer;
}

#rrweb-sliderBar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 15%;
  background: #4CAF50;
  cursor: pointer;
}
