#mainDivButton {
	position: absolute;
	width: 70px;
	height: 70px;
}

.Buttons {
	border-radius: 50%;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
	width: 70px;
	top: 0%;
	position: absolute;
}

.childButton {
	background-color: #fdd03b;
}

#recordButton {
	background-color: #d92027;
	cursor: move;
}

#downloadRecord {
	height: 70px;
	width: 70px;
	background-color: #fdd03b;
	position: absolute;
	cursor: pointer;
}

#sliderDiv {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#sliderDiv input {
	bottom: 0px;
	width: 80%;
}

}
